*pycache*
build/*
*.xlsx
*.csv
*.pdf
*.dxf
*.npy
workspace
todo.txt
exploration/3dplot_data/*.png
exploration/3dplot_data/*.gif
exploration/citrus_plots/*.png
build/*
!assets/test/spectrum_test_data.npy
app/*
binary/*
ui/*
app/*
app_old/*
!*.exe